<div class="chat-container">
  <h2>Open AI Node</h2>
  <span class="subtitle">...is speaking</span>

  <div class="input-container">
    <input type="text" id="userQuestion" [(ngModel)]="userQuestion" placeholder="Ask ChatGPT..." />
    <button (click)="getData()">Talk to me</button>
  </div>

  <div class="chat-box">
<!--     <p *ngIf="chatResponse === ''" class="response-message bot">Loading...</p>-->
  <ng-container *ngIf="chatResponse !== ''">  
    <p *ngIf="theWholeMessage else break" class="response-message bot">
      <strong>The Answer:</strong> {{ chatResponse }}
    </p>
    <ng-template #break>
      <div *ngFor="let message of messages let index=index" class="response-message bot">
        <p>{{ messages[index] || chatResponse }}</p>
      </div>
    </ng-template>
  </ng-container>
  </div>
</div>

<!-- Toggle switch -->
 <div style="margin-left: 20px; color: aqua;">
<label class="switch">   
 <input type="checkbox" (change)="toggleChat()">
 <span class="slider"></span>
</label> 
<span style="margin-left:5px;" [ngStyle]="{color: !theWholeMessage ? '#cadefc' : '#680747'}" >{{ !theWholeMessage ? 'Streamed Response' : 'Combined Response' }}</span> 
</div>