.chat-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  text-align: center;
  color: gray;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.chat-box {
  height: 300px;
  overflow-y: auto;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #ccc;
  max-height: 300px;
  overflow-y: scroll;
  width: 95%;
  border-bottom: none;
  
}

.response-message {
  max-width: 80%;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  display: inline-block;
}

.response-message.user {
  background-color: lightblue;
  color: #34495e;
  align-self: flex-end;
  margin-left: auto;
}

.response-message.bot {
  background-color: #e1e1e1;
  color: darkcyan;
  margin-right: auto;
}

textarea {
  width: 95%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px 0px 20px 20px;
  font-size: 16px;
  resize: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-top: none;
}

textarea:focus {
  outline: lightblue 1px solid;
}

.chat-options {
  text-align: center;
  margin-top: 10px;
}

.chat-options button {
  width: auto;
  background-color: #333;
  color:cyan;
  margin: 5px;
}

.chat-options button:hover {
  background-color: lightblue;
  color: gray;
}

@media (max-width: 600px) {
  .chat-container {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  .response-message {
    max-width: 100%;
  }
}
