<div class="chat-container ">
  <h2>Chat with OpenAI</h2>
  <div class="chat-box" #chatBox  #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div style="display: flex; flex-direction: column;" *ngFor="let message of messages let index=index">
      <div class="response-message user" *ngIf="message.type === 'user'">{{ message.content }}</div>
      <div class="response-message bot">{{ messagesResp[index]?.content || chatResponse }}</div>
    </div>
  </div>
  <textarea [(ngModel)]="userMessage" placeholder="Ask me something here..." (keydown)="sendMessage($event)"></textarea>
  <div class="chat-options">
  </div>
</div>
