<div style=" margin-left: 46%;" class="loading css-typing">
  <p style="color: #cadefc; margin-bottom: 2px; font-size: medium; font-size: large; font-weight: bold;">Chat in the fast Lane</p>
  <p style="color: #cadefc;  margin-top: 0px;  font-size: medium; font-weight: bold;"> ..is not Lame</p>
</div>
<div style="display: flex; flex-direction: row; gap: 50px;">
  <app-chat></app-chat>
  <div style="align-content: end;">
    <!-- WebSockets Chat Button -->
    <button *ngIf="page === 'open-ai-chat'" (click)="setPage('web-sockets-chat')" [routerLink]="['/web-sockets-chat']" class="tooltip-btn" data-tooltip="Don't forget to run server.js!">
      Chat With WebSockets
      <div>
        <img style="width: 50%;" src="../../assets/svg/web_socket_img.svg" />
      </div>
    </button>
  
    <!-- OpenAI Node Chat Button -->
    <button *ngIf="page !== 'open-ai-chat'" (click)="setPage('open-ai-chat')" [routerLink]="['/open-ai-chat']" class="tooltip-btn" data-tooltip="Don't forget to run server-ai.js!">
      Chat With OpenAI Node
      <div>
        <img style="width: 50%;" src="../../assets/svg/main-robot.svg" />
      </div>
    </button>
  </div>
  
  <router-outlet></router-outlet>
</div>
<h3 style="text-align: end; color: #c3bef0;">sponsored by Martha</h3>
