<div style="display: flex; flex-direction: row; ">
  <app-chat style="width: 40%"></app-chat>
  <div  style="align-content: center; ">
    <button *ngIf="page === 'open-ai-chat'" (click)="setPage('web-sockets-chat')" [routerLink]="['/web-sockets-chat']">
      Chat With WebSockets
      <div>
      <img style="width: 50%;" src="../../assets/svg/web_socket_img.svg" />
    </div>
    </button>
    <button *ngIf="page !== 'open-ai-chat'" (click)="setPage('open-ai-chat')" [routerLink]="['/open-ai-chat']">
      Chat With OpenAI Node
      <div>
      <img style="width: 50%;" src="../../assets/svg/main-robot.svg" />
      </div>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
