/* You can add global styles to this file, and also import other style files */
body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full height */
  background: url("assets/svg/background_img.svg" ) no-repeat center center fixed;
  background-size: cover; /* Cover the entire viewport */
  background-color: #e3f6f5;
}